.cart-container{
    position: fixed;
    top: 37%;
    right: 0;
    width: 40%;
    height: 90%;
    background-color: rgb(246, 246, 248);
    transition: right 0.3s ease-out;
    overflow-y: auto;
    border-radius: 12px;
}
.cart-container h2{
    text-align: center;
}
.cart-header {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}